<div class="bg-white rounded-lg shadow overflow-x-auto border border-gray-200">
    <table class="w-full text-left border-collapse">
        <thead>
            <tr class="bg-gray-100 text-xs uppercase text-gray-600 font-bold">
                <th class="p-4 border-b">CONTA</th>
                <th class="p-4 border-b text-right">PERÍODO ANTERIOR</th>
                <th class="p-4 border-b text-right">PERÍODO ATUAL</th>
                <th class="p-4 border-b text-right">VARIAÇÃO</th>
                <th class="p-4 border-b">STATUS</th>
            </tr>
        </thead>
        <tbody id="comparative-table-body">
            </tbody>
    </table>
</div>